<footer class="text-xs text-base-content/40 py-6 mt-8 border-t border-base-200">
    <div class="flex flex-col gap-1">
        <div>Last built: {{ site.build_info.build_time | format_datetime('%m/%d/%Y %I:%M:%S %p %Z') }}</div>
        {% if site.build_info.git_commit %}
        <div>Latest commit: &ldquo;{{ site.build_info.git_message }}&rdquo; by {{ site.build_info.git_author }} ({{ site.build_info.git_commit[:7] }})</div>
        {% endif %}
        <div>Site built with <a href="https://rockgarden.pages.dev/" class="link link-hover">Rockgarden</a> v{{ site.build_info.version }}</div>
    </div>
</footer>
