{% if page is defined %}
{% set description = page.frontmatter.get("description") or site.description %}
{% set og_image = page.frontmatter.get("og_image") or site.og_image %}
{% set _kw = page.frontmatter.get("keywords") %}
{% if _kw is string %}{% set keywords = _kw %}{% elif _kw %}{% set keywords = _kw | join(", ") %}{% endif %}

{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}">
{% endif %}

<meta property="og:title" content="{{ page.title }}{% if site.title %} - {{ site.title }}{% endif %}">
<meta property="og:type" content="article">
{% if description %}
<meta property="og:description" content="{{ description }}">
{% endif %}
{% if og_image %}
<meta property="og:image" content="{{ og_image }}">
{% endif %}
{% if site.base_url %}
{% set _slug_parts = page.slug.split('/') %}
{% if _slug_parts[-1] == 'index' %}
  {% set _page_path = ('/' + '/'.join(_slug_parts[:-1]) + '/') if _slug_parts | length > 1 else '/' %}
{% elif site.clean_urls %}
  {% set _page_path = '/' + page.slug + '/' %}
{% else %}
  {% set _page_path = '/' + page.slug + '.html' %}
{% endif %}
<meta property="og:url" content="{{ site.base_url }}{{ _page_path }}">
{% endif %}

<meta name="twitter:card" content="{% if og_image %}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:title" content="{{ page.title }}{% if site.title %} - {{ site.title }}{% endif %}">
{% if description %}
<meta name="twitter:description" content="{{ description }}">
{% endif %}
{% if og_image %}
<meta name="twitter:image" content="{{ og_image }}">
{% endif %}
{% endif %}
